@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.eot');
      src: 
    url($font-file+'.woff') format('woff'),
    url($font-file+'.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  }

 @include font('D-DIN', "../../assets/font/D-DIN");
 @include font('D-DIN-Bold', "../../assets/font/D-DIN-Bold");
 @include font('D-DIN-Itallic', "../../assets/font/D-DIN-Italic");
 @include font('D-DIN-Condensed', "../../assets/font/D-DINCondensed");
 @include font('D-DIN-CondensedBold', "../../assets/font/D-DINCondensed-Bold");
 @include font('D-DIN-Exp', "../../assets/font/D-DINExp");
 @include font('D-DIN-ExpBold', "../../assets/font/D-DINExp-Bold");
 @include font('D-DIN-ExpBold', "../../assets/font/D-DINExp-Italic");